header {
  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
  }

  .navbar {
    .navbar-brand {
      padding: unset;
      max-width: 70px;

      img {
        width: 100%;
      }
    }

    .navbar-toggler {
      outline: none;
      border: none;
    }

    li a {
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
