/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// THEME COLORS
$theme-colors: (
  primary: #525ddc,
  red-1: #e00a16,
  red-2: #ef525d,
  red-3: #e63b41,
  grey-1: #333,
  grey-2: #1a1a1a,
  grey-3: #848484,
);

$font-size-h1: 68px;
$font-size-h2: 68px;
$font-size-h3: 38px;
$font-size-h4: 17px;

$font-size-h1-mobile: 32px;
$font-size-h2-mobile: 28px;
$font-size-h3-mobile: 22px;
$font-size-h4-mobile: 15px;

$font-size-p0: 14px;
$font-size-p: 12px;
$font-size-p1: 10px;

$font-size-p-mobile: 10px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
